* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 2fr 1fr 7fr 1fr;
  gap:4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-column: 1/7;
}

.logo{
  grid-column: 1/3;
  justify-self: start;
  align-self: center;
}

.menu ul{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

.menu ul li{
  grid-row: 2/3;
}

.menu ul,
.menu li {
  list-style-type: none;
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  gap:15px;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,1fr);
}

.sidebar div{
  height: 100%;
  width: auto;
}

.sidebar .photo {
  height: 120px;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo p{
  height: 100%;
  text-align: center;
}

.sidebar .side-content {
  height: 120px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-column: 2/7;
  grid-row: 2/3;
}

.nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav ul li {
  list-style-type: none;
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-column: 2/7;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1/7;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}